@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  background-image:url("../images/setofcakes.jpg");
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

h1 {
  color: white;
  font-size: 18pt;
}

h2 {
  color: white;
}

h3 {
  Color: white;
}

p {
  color: black;
  font size: 30pt;
}

a {
  color: #E8A797;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

#one {
background-color: lightyellow;
margin-top: 50px;
margin-bottom: 50px;
}

#two {
background-color: white;
float: top
margin-top: 50px;
margin-bottom: 50px;
}

#three {
background-color: pink;
float: top;
margin-top: 100px;
margin-bottom: 200px;
}

#four {
background-color: pink;
float: top;
margin-top: 200px;
margin-bottom: 200px;
}

#five {
background-color: pink;
float: top;
margin-top: 200px;
margin-bottom: 50px;
}

#six {
background-color: white;
float: top;
margin-top: 200px;
margin-bottom: 200px;
}

#seven {
background-color: white;
float: top;
margin-top: 300px;
margin-bottom: 300px;
}




.red-text {
  color: red;
}
