@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  background-image:url("../images/setofcakes.jpg");
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

h1 {
  color: #E8A797;
  font-size: 18pt;
}

h2 {
  color: lightpink;
}

h3 {
  Color: lightpink;
}

p {
  color: black;
  font size: 30pt;
}

a {
  color: #E8A797;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}
